/* ignore this comment */

/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

@import url('https://fonts.googleapis.com/css?family=Barriecito|Lora&display=swap');

.page-header {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}
body {
  color: #2e3f51;
  font-family: 'Lora', serif;
}
.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #61a3ee;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: 4rem;
  font-family: 'Barriecito', cursive;
  margin-bottom: 2rem;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 70%,
    59% 70%,
    50% 100%,
    39% 70%,
    0 70%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 70%,
    59% 70%,
    50% 100%,
    39% 70%,
    0 70%
  );
}

h2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#add-friend-dropdown {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab_buttons_div {
  background-color: #1890ff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

a.grp_tab_btns:hover {
  color: white;
}

.grp_tab_btns.selectedTab {
  color: white;
}

.single-expense-navbar {
  display: flex;
  background-color: #61a3ee;
  justify-content: space-evenly;
}

.required {
  text-align: right;
}

.edit-button {
  float: right;
  cursor: pointer;
  background-color: #1890ff;
  color: white;
}

.toggle-button {
  float: right;
}

#group-expense-list {
  padding-top: 30px;
}

footer {
  padding-top: 2rem;
  text-align: center;
  font-size: 1rem;
}

/*  =============== . MEDIA QUERIES ============ */
@media screen and (max-width: 992px) {
  .insert {
    width: 80%;
  }
  label {
    display: block;
  }

  #submit {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .friend-form-container {
    width: 100%;
  }

  .tab_buttons_div {
    display: flex;
    flex-direction: column;
    padding-left: 0.3em;
  }

  .insert {
    width: 90%;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

table {
  width: 100%;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
